<!-- Display => hidden -->
<div class="flex align-items-center justify-content-start">
    <div class="hidden w-4rem h-4rem bg-primary font-bold p-4 border-round mr-3">1</div>
    <div class="w-4rem h-4rem bg-primary font-bold flex align-items-center justify-content-center p-4 border-round mr-3">2</div>
    <div class="w-4rem h-4rem bg-primary font-bold flex align-items-center justify-content-center p-4 border-round">3</div>
</div>

<!-- Display => block -->
<div class="block bg-primary font-bold text-center p-4 border-round mb-3">1</div>
<div class="block bg-primary font-bold text-center p-4 border-round mb-3">2</div>
<div class="block bg-primary font-bold text-center p-4 border-round mb-3">3</div>

<!-- Display => inline -->
<div className="inline bg-primary font-bold text-center p-4 border-round mx-4">1</div>
<div className="inline bg-primary font-bold text-center p-4 border-round">2</div>
<div className="inline bg-primary font-bold text-center p-4 border-round mx-4">3</div>

<!-- Display => inline-block -->
<div class="card-container">
    <div class="inline-block w-4rem h-4rem bg-primary font-bold text-center p-4 border-round">1</div>
    <div class="inline-block w-4rem h-4rem bg-primary font-bold text-center p-4 border-round mx-4">2</div>
    <div class="inline-block w-4rem h-4rem bg-primary font-bold text-center p-4 border-round">3</div>
</div>

<!-- Display => flex -->
<div class="flex">
    <div class="flex-1 h-4rem bg-primary font-bold text-center p-4 border-round">1</div>
    <div class="flex-1 h-4rem bg-primary font-bold text-center p-4 border-round mx-4">2</div>
    <div class="flex-1 h-4rem bg-primary font-bold text-center p-4 border-round">3</div>
</div>